/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
<<<<<<< HEAD
    font-family: sans-serif;
}

.page-title{
    text-align: center
}

#form-de-envio{
    width: 100%;
    margin: 0;
}

#form-de-envio > label{
    width: 30%;
    float: left;
    margin: 0 5px 7px 5px;
    text-align: right;
    font-size: 1.3em;
}

#form-de-envio > input[type="text"]{
    width: 65%;
   
    margin: 0 5px 7px 0;
}

#form-de-envio > input[type="number"]{
    width: 65%;
  
    margin: 0 5px 7px 0;
}

#form-de-envio > input[type="email"]{
    width: 65%;
  
    margin: 0 5px 7px 0;
}

#form-de-envio > input{
   height: 2em;
}

#form-de-envio > input[type="button"]{
    width: 100%;
    height: 3em;
    margin: 0 auto;
=======
    background-size: 100%;
    max-width: 100%;
}

#fundo{
    width: 100%;
}

topo{
    float: left;
}

#rodape{
    width: 100%;
    margin-top: 65%;
}

#conteudo{
    width: 100%;
    margin: 30% 0 0 10%;
}

#img-logo{
    width: 100%;
    height: 100%;
}

#img-parceiro{
    width: 100%;
    height: 100%;
}

.item-menu{
   width: 50%;
   float: left;
}

ul{
    list-style: none;
}

li{
    float: left;   
}


.img-btn{
    width: 60%;
    height: 60%;
}

/*CSS da tela denuncia*/
#foto{
	width: 100%;
	
}

#img-camera{
	margin: 60% 0% 0% 30%;
	width: 40%;
	height: 40%;
>>>>>>> 0935bc9526b7f6da6ad0493ca132812ebf54ebe1
}